#wp-admin-bar-edt-group {
    float: right;
    .env-type-0 { background-color: #EA2027; }
    .env-type-1 {}
    .env-type-2 { background-color: #8e44ad; }
    .env-type-3 { background-color: #d35400; }
    .env-type-9 { background-color: #EA2027; }
    .ab-sub-wrapper {
        right: 0;
        .ab-item {
            display: flex !important;
            justify-content: space-between;
            gap: 1.5rem;
        }
    }
    .ei-label {
    }
    .ei-value {
        text-align: right;
    }
}

